*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./bg-intro-desktop.png");
    background-color: rgb(255, 122, 122);
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    width: 90%;
    margin: 5% auto;
    gap: 3rem;
}
.content{
    flex-basis: 45%;
}

.box{
    width: 100%;
    height: 50px;
    background-color: rgb(96, 85, 165);
    color: white;
    border-radius: 0.3rem;
    margin-bottom: 2rem;
}
.box p{
    text-align: center;
    padding: 1rem 0;
}

.form{
    width: 90%;
    height: 60vh;
    margin: auto;
    text-align: center;
    background-color: white;
    padding-top: 20px;
    border-radius: 0.3rem;
}

.form{
    padding: 1rem 1.5rem;
}

.submit{
    background-color: rgb(56, 204, 140);
    color: white;
    width: 100%;
    border: none;
}
input{
    width: 94%;
    border-radius: 0.25rem;
    margin: 0.5rem auto;
    padding: 0.85rem 0.75rem;
}
h1{
    font-size: 3.5rem;
    color: white;
    padding-top: 6rem;
    line-height: 1.2;
    font-weight: 500;
}
 .textbox{
    margin: auto;
    width: 100%;
} 

.textbox p{
    color: white;
    word-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}
@media screen and (max-width: 700px)
{
    .container{
        flex-direction: column;
   
    }
    h1{
        font-size: 2rem;
    }
    .form{
        width: 90%;
    }
}